
header {
    background-color: #000;
    text-align: center;
    border-radius: 35px;
    margin: auto;
    top: 1px;
    width:100%;
    background-color: white;
    background-color: #fff;
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
}

header:hover{
    background-color: black;
    text-align: center;
    margin: auto;
    float: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background-color: #fff;
    transition: 0.5s linear;
    background-image: linear-gradient(to bottom,lightblue,white,lightblue,white,lightblue,lightblue,white,lightblue,white,lightblue);
    text-shadow: 16px 2px 0 navy;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: -4px 2px 0 navy,
    -8px 6px 0 turquoise;
    
}

header p{
    width: 301px;
    height: 90px;
    background: #fff;
    border: 1px solid grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    margin: 5px;
    padding: 5px;
}

header p:hover{
    width: 301px;
    height: 90px;
    background: #fff;
    border: 1px solid grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    margin: 5px;
    padding: 5px;
}

.i {
    border-radius: 35px;
    border: #000000 solid 1px;
    display: block;
    margin: auto;
    height: 1000px;
    width: 1300px;
}

.i:hover {
    border-radius: 35px;
    border: #000000 solid 1px;
    display: block;
    margin: auto;
    height: 1000px;
    width: 1300px;
}

.z {
    font-size: 30px;
    float: center;
    text-align: center;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 0 royalblue;
    margin: 10px;
    background-size: cover;
    width: 50%;
    display: block;
    margin: 10px auto;

}

.z:hover{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: black;
    font-size: 40px;
    float: center;
    text-align: center;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 8px 8px 10px 0 royalblue;
    transition: 0.15s linear;
}
body {
    font-family: sans-serif;
        background-image: url("https://png.klev.club/uploads/posts/2024-05/png-klev-club-qa6y-p-subnautica-png-26.png");
    background-repeat: no-repeat;
     background-size: cover;
    float: center;
    oppasite: 0.85:
}

img {
    width: 1275px;
    height: 900px;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
    border: #fff solid 2px;
}

img:hover {
    width: 1300px;
    height: 1000px;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
    border: #fff solid 2px;
    transition: 0.5s linear;
}

.you {
    width: 50%;
    height: 65%;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
    border: #fff solid 2px;
}

a {
    color: blue;
    text-decoration: none;
}

p {
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid black;
    padding: 5px;
    color: navy;
}

footer {
    padding: 10px;
    margin-top: 30px;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px;
}

h2 {
   padding: 2px;
}
