body {
    float: center;
}

html {
        font-family: sans-serif;
        background-image: url("https://png.klev.club/uploads/posts/2024-05/png-klev-club-qa6y-p-subnautica-png-26.png");
        background-repeat: no-repeat;
        background-size: 130%;
}

img {
    width: 600px;
    height: 800px;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
}

img:hover {
    width: 50%;
    height: 65%;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
    border: #fff solid 2px;
    transition: 0.5s linear;
    text-shadow: 9px 2px 0 navy;
}

header {
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

header:hover{
    margin: 0 auto;
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background-image: linear-gradient(to bottom,lightblue,white,lightblue,white,lightblue,lightblue,white,lightblue,white,lightblue);
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    text-shadow: -4px 2px 0 navy,
    -8px 6px 0 turquoise;
    
}

h1:hover::after {
    text-align: center;
    font-size: 50px;
    
}


h2 {
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid black;
    padding: 5px;
}

a {
    text-decoration: none;
    font-size: 30px;
    float: center;
    text-align: center;
    background-color: #fff;
    color: blue;
    border-radius: 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 0 royalblue;
}

a:hover {
    text-decoration: none;
    color: black;
    font-size: 40px;
    float: center;
    text-align: center;
    border-radius: 35px;
    background-image: linear-gradient(to right bottom,lightblue,white,lightblue,white,lightblue);
    transition: 0.7s linear;
    box-shadow: 8px 8px 10px 0 royalblue;
}

p {
    font-size: 45px;
    text-align: center;
    background-color: #000;
}

p:hover::after {
    font-size: 45px;
    text-align: center;
    background-color: #000;
    border: #fff doble 2px;
}

footer {
    padding: 10px;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px;
}


.i {
    border-radius: 35px;
    border: #000000 solid 1px;
    display: block;
    margin: auto;
    height: 600px;
    width: 800px;
}

.z {
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 0 royalblue;
    background-size: cover;
    width: 50%;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    background-color: #fff;
    color: blue;
    border-radius: 35px;
    border: 2px solid black;
}
