body {
    font-family: sans-serif;
    background-color: turquoise;
    float: center;
}

img {
    width: 1300px;
    height: 900px;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
}

img:hover::after {
    width: 1450px;
    height: 1000px;
    border-radius: 10px;
    float: center;
    display: block;
    margin: auto;
    border: #fff solid 2px;
}

header {
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

header:hover{
    margin: 0 auto;
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    text-shadow: -4px 2px 0 navy,
    -8px 6px 0 turquoise;
    
}

h1:hover::after {
    text-align: center;
    font-size: 50px;
    
}


h2 {
    font-size: 24px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 30px;
    float: center;
    text-align: center;
    background-color: #fff;
    color: blue;
    border-radius: 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 0 royalblue;
}

a:hover {
    text-decoration: none;
    color: black;
    font-size: 40px;
    float: center;
    text-align: center;
    border-radius: 35px;
    background-image: linear-gradient(to right bottom,lightblue,turquoise);
    transition: 3s background-color linear;
}

p {
    font-size: 45px;
    text-align: center;
    background-color: #000;
}

p:hover::after {
    font-size: 45px;
    text-align: center;
    background-color: #000;
    border: #fff doble 2px;
}

footer {
    padding: 10px;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px;
}


.i {
    border-radius: 35px;
    border: #000000 solid 1px;
    display: block;
    margin: auto;
    height: 600px;
    width: 800px;
    margin: 69px;
}

.z {
    display: flex;
    justify-content: center;
    padding: 10px;
}
